html{
  background-image: url('http://img.wennermedia.com/article-leads-horizontal-1400/mj-618_348_specialized-venge-review.jpg');
  background-size: cover;
}

body{
  color: #FFFFFF
}

h1, h2, {
  text-align: center;
}

.nav-links {
  width 800px;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  list-style: none;
}

.nav-link{
  border: 2px solid green;
  display: inline-block;
  width: 120px;
  text-align: center;
}

.nav-link a {
  text-decoration: none;
  color: green;
  font-weight: bold;
  font-size: 20px;
}
